<section>
    <div class="row">
        <div class="six columns">
            <p>Hi! My name is Roger Moore. Nope. Not that <a href="http://vignette3.wikia.nocookie.net/jamesbond/images/8/86/Bond_-_Roger_Moore_-_Profile.jpg/revision/latest?cb=20130217201358" target="_blank"><em>Roger</em></a>, I'm afraid. I am a recent graduate in Computer Science from King's College London. I am currently making ways as a software engineer, with experience at American Express and SAP.</p>
        </div>
        <div class="six columns social-bar">
            <ul>
                <li><a href="{{ github }}" target="_blank"><i class="fa fa-3x fa-github"></i> github.com</a></li>
                <li><a href="{{ linkedin }}" target="_blank"><i class="fa fa-3x fa-linkedin"></i> linkedin.com</a></li>
                <li><a href="{{ youtube }}" target="_blank"><i class="fa fa-3x fa-youtube-play"></i> youtube.com</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
            <p>As you've come across this website, you can probably tell that I'm big into tech. One of the main areas that is of interest to me is in Big Data. This is an area of technology that I've been interested now for the past few years, having read multiple books on the subject and experienced using some of the technologies surrounding this area of technology, such as Apache Hadoop and Spark.</p>
    </div>
    <div class="row social-bar">
        <a href="/cv/Roger_Moore_CV_2016.pdf" target="_blank">
            <em style="font-size: 120%">Feel free to have a peek at my résumé...</em>
        </a>
    </div>
    <div class="row" style="margin-top: 20px">
            <p> I am also a keen programmer and user of Vim. As well as this, I am also really interested in functional programming languages too! So when I do get some free time, I like to read up on languages such as Scala. Especially because this goes hand-in-hand with technologies like Apache Spark.</p>
            <p>Outside of technology, I am also an avid guitar player and have been entirely self-taught since the age of 10. I love discovering new music. I also love to read. I am currently trying to catch up on all the classics. I also like to play badminton and keep as active as possible, so that I can justify the purchase of my Fitbit. And, of course... I'm always up for a good beer.</p>
    </div>
</section>
