<section>
    <div class="row">
        <div class="six columns">
            <p>Hi! My name is Roger Moore. Nope. Not that <a href="http://vignette3.wikia.nocookie.net/jamesbond/images/8/86/Bond_-_Roger_Moore_-_Profile.jpg/revision/latest?cb=20130217201358" target="_blank"><em>Roger</em></a>, I'm afraid. I have recently finished working as a software development intern at SAP for my placement year, whilst studying a BSc (Hons) in Computer Science at King's College London. Before that I achieved the highest grade possible in an Extended Diploma in IT (Business) at Bexhill 6th Form College and earned a Level 3 Advanced Apprenticeship in IT & Telecoms whilst at Zenos IT Academy in Brighton.</p>
        </div>
        <div class="six columns social-bar">
            <ul>
                <li><a href="{{ github }}" target="_blank"><i class="fa fa-3x fa-github"></i> github.com</a></li>
                <li><a href="{{ linkedin }}" target="_blank"><i class="fa fa-3x fa-linkedin"></i> linkedin.com</a></li>
                <li><a href="{{ youtube }}" target="_blank"><i class="fa fa-3x fa-youtube-play"></i> youtube.com</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
            <p>As you've come across this website, you probably already know that I'm hugely into tech. One of my main areas of interest is in Big Data. This is an area of technology that I've been interested now for the past few years, having read multiple books on the subject and having used some of the technologies that comprise that technology. I'm fascinated by the use of commodity hardware and distributed filesystems to amass huge amounts of data of which you can perform intelligent analysis on.</p>
    </div>
    <div class="row social-bar">
        <a href="/cv/Roger_Moore_CV_2016.pdf" target="_blank">
            <em style="font-size: 120%">Feel free to have a peek at my résumé...</em>
        </a>
    </div>
    <div class="row" style="margin-top: 20px">
            <p>Following on from this fascination for Big Data, I plan to focus my final year project/dissertation in this area and should be making use of technologies such as Hadoop. I am also always actively looking for projects to get involved with when it comes to Big Data, so if you're interested <strong><em>please</em></strong> hit me up through my <a href="/contact">contact</a> page!</p>
            <p>Other areas of technology that I'm interested in are new server-side programming technologies, like NodeJS. I have been making use of the MEAN stack a lot lately. And I'm loving it. I am also learning Go, thanks to a great mentor, friend, and former colleague who gave me 'The Way To Go' by Ivo Balbaert as a parting gift from SAP. As well as this, I am also really interested in functional programming languages too! So when I do get some free time, I like to read up on languages such as Scala. Especially because this goes hand-in-hand with technologies like Apache Spark. So it all leads back to Big Data in the end, I suppose.</p>
            <p>Outside of technology, I am also an avid guitar player and have been entirely self-taught since the age of 10. I love discovering new music. I also love to read. I am currently trying to catch up on all the classics. I also like to play badminton and keep as active as possible, taking heed of my Fitbit, egging me on. And, of course... I'm always up for a good beer.</p>
    </div>
</section>
