<p>I'm afraid that the blog side of this website is still currently in development. Rather than using a blog script (i.e., <em>WordPress</em>), as I had done previously, I have decided to take the challenge upon myself and develop my own blogging system for my personal site.</p>
<p>So that all my previous content isn't lost, I've decided to archive the posts from my old website and store them here temporarily so that you can still view them.</p>
<p>
    <ul>
        <li><a href="/archived_posts/olderposts.txt" target="_blank">Older posts</a> - 23/01/2016</li>
        <li><a href="/archived_posts/dropship.txt" target="_blank">Dropshipping Item DB Manager</a> - 23/01/2016</li>
        <li><a href="/archived_posts/mlc.txt" target="_blank">Magic Link Cloaker</a> - 12/06/2015</li>
        <li><a href="/archived_posts/update.txt" target="_blank">Quick update...</a> - 31/05/2015</li>
        <li><a href="/archived_posts/centos.txt" target="_blank">How to install CentOS7 via USB</a> - 04/04/2015</li>
        <li><a href="/archived_posts/breadcrumbs.txt" target="_blank">Dynamic Breadcrumbs for Bootstrap</a> - 22/03/2015</li>
    </ul>
</p>
<p>If you'd like to follow the development of this side of my website, please feel free to take a look at the <a href="http://github.com/rmoore74/sbmb" target="_blank">repository on GitHub!</a></p>
