<p>I'm afraid that the blog side of this website is still currently in development. Rather than using a blog script (i.e., <em>WordPress</em>), as I had done previously, I have decided to take the challenge upon myself and develop my own blogging system for my personal site.</p>
<p>So that all my previous content isn't lost, I've decided to archive the posts from my old website and store them here temporarily so that you can still view them.</p>
<p><code>THIS IS WHERE THE POSTS WILL GO</code></p>
<p>If you'd like to follow the development of this side of my website, please feel to take a look at <a href="http://github.com/rmoore74/sbmb" target="_blank">repository on GitHub!</a></p>
