<section>
    <p>Would you like to get in touch? I'm very friendly so don't be timid! Use this form to get in touch with me directly and I'll get back to you as soon as I can. Please provide your name and email address so that I know who I will be getting back in touch with. Talk to you soon!</p>
    <form>
        <div class="row">
            <div class="five columns">
                <label for="name">Your name</label>
                <input class="u-full-width" placeholder="Jane Doe" id="nameInput" type="text" required />
            </div>
            <div class="five columns">
                <label for="email">Your email</label>
                <input class="u-full-width" placeholder="jane.doe@email.com" id="emailInput" type="email" required />
            </div>
        </div>
        <div class="row">
            <label for="message">Your message</label>
            <textarea class="u-full-width" placeholder="Hello Roger..." id="messageInput" required></textarea>
            <input class="button-primary" value="Send" type="submit" />
        </div>
    </form>
    <div class="row">
        <p>Or, alternatively, you can email me directly at <a href="mailto:me@rogermoore.io">me@rogermoore.io</a>.</p>
    </div>
</section>
