<section>
    <div class="row">
        <div class="two columns home-icon">
            <i class="fa fa-5x fa-user u-max-full-width" aria-hidden="true"></i>
        </div>
        <div class="ten columns home-content">
            <h5><a href="/about">about</a></h5>
            <p>Could it really be? No, surely not! Is it <em>actually</em> Roger Moore? Who am I? What do I do? What are my interests? Is he some sort of programmer? Or maybe he's a film star? Is he a saint? For whose eyes only? Is it really golden? Does he have a LinkedIn? So many questions. Find all of this out and more if you head over to the about section of this website. Thrilling, right?</p>
        </div>
    </div>
    <div class="row">
        <div class="ten columns home-content">
            <h5><a href="/projects">projects</a></h5>
            <p>Take a look at some of the projects that I have worked on in the past. This is probably a bit more visually pleasing than my GitHub page, as I have provided more in-depth descriptions and screenshots to help portray the project in the light in which they were meant. These projects range from when I first started documenting them, really. So there are a mixture of college and university projects, as well as projects that I have worked on in my spare time. This is by no means an extensive list, there have been many before and many since. But these are the ones that I've got round to documenting.</p>
        </div>
        <div class="two columns home-icon">
            <i class="fa fa-5x fa-code u-max-full-width" aria-hidden="true"></i>
        </div>
    </div>
    <div class="row">
        <div class="two columns home-icon">
            <i class="fa fa-5x fa-comment-o u-max-full-width" aria-hidden="true"></i>
        </div>
        <div class="ten columns home-content">
            <h5><a href="/contact">contact</a></h5>
            <p>Feel like getting in touch? Then you're headed in the right direction. Head over to this section to find out just how you can get in touch with me. Don't be afraid to contact me about any random thing, I'm always more than happy to help in any way that I can.</p>
        </div>
    </div>
</section>
