<section>
    <div class="row">
        <p>On this page you will find some of the projects that I have worked on in the past, or that I am currently working on. I will try to keep this as up-to-date as best as I can, but other smaller projects, and for the most current projects, you can easily find them by visiting my <a href="http://github.com/rmoore74" target="_blank">GitHub page</a>.</p>
    </div>
    <div ng-repeat="proj in projectList"> 
        <div class="row">
            <h5>{{ proj.title }}</h5>
            <span>{{ proj.description }}</span>
        </div>
        <div class="row project-images">
            <div ng-repeat="img in proj.pictures" style="float:left">
                <a href="{{ img.imgUrl }}" data-lightbox="{{ proj.lightId }}">
                    <img src="{{ img.thumbUrl }}" width="50px" height="50px" />
                </a>
            </div>
        </div>
    </div>
</section>
