body {
    color: #A9A9A9;
    text-align: justify;
}

footer {
    margin-top: 20px;
    font-size: small;
}

a {
    color: #8DC5CC;
    text-decoration: none;
}

#head {
    margin-top: 50px;
}

#head h2 {
    color: #A9A9A9;
}

.navbar {
    margin-bottom: 20px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    margin-right: 15px;
    color: #A9A9A9;
}

.navbar li a:hover {
    color: #8DC5CC;
}

.navbar li.active a {
    color: #8DC5CC;
}

.social-bar {
    text-align: center;
}

.social-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.social-bar li {
    display: inline-block;
    width: 100%;
    padding: 5px;
}

.social-bar li:hover {
    color: #FFFFFF;
    background-color: #F1F1F1;
}

.social-bar i {
    margin-right: 25px;
    vertical-align: middle;
}

.social-bar a {
    color: #A9A9A9;   
}

.social-bar a:hover {
    color: #8DC5CC;
}

.home-icon {
    margin-top: 60px;
    text-align: center;
}

.home-content {
    text-align: justify;
}

.home-content a {
    color: #A9A9A9;
}

.home-content a:hover {
    color: #8DC5CC;
}

.project-images {
    margin-bottom: 20px;
}

.project-images img {
    margin: 5px;
}
